/* font-size */
$font-size-base: 1rem;
$font-size-lg: $font-size-base*1.5;

/* colors */
$body: #535353;
$white: #fff;
$dark: #222;
$primary: #060a2d;
$secondary: #0d1138;
$gray-1: #f5f5f5;
$gray-2: #eee;
$link: #337fbc;
$pink: #FFF0F0;
$gold: #ad9717;

/* breakpoints */
$breakpoint-xlg: 1024px;
$breakpoint-lg: 980px;
$breakpoint-md: 768px;
$breakpoint-sm: 480px;