/* font-size */
$font-size-base: 1rem;
$font-size-lg: $font-size-base*1.5;

/* colors */
$body: #273200;
$white: #fff;
$dark: #000;
$primary: #8AAC25;
$secondary: #EC4E20;
$yellow: #EEB902;
$gray: #F6F6ED;
$link: #337fbc;

/* breakpoints */
$breakpoint-xlg: 1024px;
$breakpoint-lg: 980px;
$breakpoint-md: 768px;
$breakpoint-sm: 480px;