header {
  z-index: 999;
  position: relative;
  border-top: solid 2px $primary;

  &.low {
    border-bottom: solid 1px $gray;
  }

  .inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0 $font-size-base*3;
    @include media-md() {
      padding: 0;
    }

    .other-link {
      position: absolute;
      top: 0;
      right: $font-size-base*3;

      a {
        display: inline-block;
        vertical-align: middle;
        box-sizing: border-box;
        padding: $font-size-base*0.5 $font-size-base*0.5 0;
        font-size: $font-size-base*0.875;
        line-height: 1;
        border-bottom: solid 2px $primary;
      }
    }

    h1 {
      margin: 0;
      font-size: 0;
      line-height: 1;
      @include media-md() {
        img {
          width: 116px;
        }
      }
    }

    .drawer-nav {
      position: relative;
      margin-right: $font-size-base*12;
      @include media-md() {
        position: fixed;
        margin-right: 0;
      }

      .drawer-menu {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        @include media-md() {
          display: block;
        }

        li {
          margin-right: $font-size-base*1.5;
          @include media-md() {
            margin-right: 0;
          }

          &:last-child {
            margin-right: 0;
          }

          .drawer-menu-item {
            font-size: $font-size-base;

            img {
              display: inline-block;
              vertical-align: middle;
              margin-right: $font-size-base*0.25;
            }

            span {
              display: inline-block;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }

  > img {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.drawer-hamburger {
  background-color: $primary !important;
}

.drawer-hamburger-icon,
.drawer-hamburger-icon:after,
.drawer-hamburger-icon:before {
  background-color: $white;
}