.tours-slider-wrap {
  z-index: 1;
  position: relative;

  .bg-tex {
    z-index: -1;
    position: absolute;
    top: -5%;
    left: 50%;
    width: 50vw;
    height: 110%;
    transform: translate(-50%);
    background: url("../images/bg_tex.png") no-repeat center center;
    background-color: rgba($primary, 0.1);
    background-size: cover;
    @include media-md() {
      width: 80vw;
    }
  }
}

.tours-slider {
  .slick-slide {
    opacity: 0.5;
    margin: 0 $font-size-base*0.5;

    &.slick-active {
      opacity: 1;
    }

    h3 {
      margin: $font-size-base 0;
      font-size: $font-size-base*1.25;
    }

    p {
      font-size: $font-size-base*0.875;
    }

    img {
      width: 100%;
      display: block;
      margin: 0 auto;
    }
  }
}

.charms {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;

  .inner {
    z-index: 1;
    position: relative;
    width: 25%;
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    @include media-md() {
      width: 100%;
    }

    a {
      position: relative;
      z-index: 2;
      display: block;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      padding: $font-size-base*4 $font-size-base*1.5 $font-size-base*1.5;

      &::after {
        z-index: 1;
        content: '';
        position: absolute;
        top: 2%;
        left: 2%;
        display: block;
        width: 96%;
        height: 96%;
        border: solid 1px $white;
        opacity: 0;
        transition: 0.3s;
      }

      &:hover {
        &::after {
          opacity: 1;
        }
      }
    }

    &::after {
      z-index: 1;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba($dark, 0.5);
    }

    h3 {
      position: relative;
      z-index: 2;
      font-size: $font-size-base*1.5;
      font-weight: normal;
      color: $white;
      margin-bottom: 1em;
    }

    p {
      position: relative;
      z-index: 2;
      font-size: $font-size-base*0.875;
      color: $white;
    }

    &:nth-child(1) {
      background-image: url("../images/uji.png");
    }

    &:nth-child(2) {
      background-image: url("../images/joyo.png");
    }

    &:nth-child(3) {
      background-image: url("../images/yawata.png");
    }

    &:nth-child(4) {
      background-image: url("../images/kyotanabe.png");
    }

    &:nth-child(5) {
      background-image: url("../images/kidugawa.png");
    }

    &:nth-child(6) {
      background-image: url("../images/kumiyama.png");
    }

    &:nth-child(7) {
      background-image: url("../images/ide.png");
    }

    &:nth-child(8) {
      background-image: url("../images/ujitawara.png");
    }

    &:nth-child(9) {
      background-image: url("../images/kasagi.png");
    }

    &:nth-child(10) {
      background-image: url("../images/wazuka.png");
    }

    &:nth-child(11) {
      background-image: url("../images/seika.png");
    }

    &:nth-child(12) {
      background-image: url("../images/yamashiro.png");
    }
  }
}

.grid-container {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 2.5fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "movie youtube-1" "movie youtube-2" "movie youtube-3";
  @include media-md() {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "movie" "youtube-1" "youtube-2" "youtube-3";
  }

  .movie {
    position: relative;
    grid-area: movie;
    @include media-md() {
      height: 50vw;
    }

    img {
      z-index: 1;
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .abs {
      z-index: 2;
      position: absolute;
      bottom: $font-size-base;
      left: $font-size-base;

      h2 {
        font-size: $font-size-base*1.5;
        margin: 0;
      }
    }
  }

  .youtube-1 {
    grid-area: youtube-1;
  }

  .youtube-2 {
    grid-area: youtube-2;
  }

  .youtube-3 {
    grid-area: youtube-3;
  }

  iframe {
    display: block;
    width: 100%;
    height: 100%;
    border: 0;
    @include media-md() {
      height: 50vw;
    }
  }
}

.gallery-pics {
  .slick-slide {
    margin: 0 $font-size-base*0.5;

    div {
      position: relative;
      padding-bottom: 75%;
      overflow: hidden;

      img {
        position: absolute;
        object-fit: cover;
        width: auto !important;
        height: 100%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

.news-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  > div {
    width: 48%;
    @include media-md() {
      width: 100%;
      margin-bottom: $font-size-base*3;
    }
  }
}

.news-list {
  a {
    display: block;
    width: 100%;
    margin-bottom: $font-size-base;

    &:last-child {
      margin-bottom: 0;
    }

    p,
    time {
      display: inline-block;
      vertical-align: middle;
      box-sizing: border-box;
      margin: 0;
      color: $dark;
      line-height: 1;
      font-size: $font-size-base*0.875;
    }

    time {
      color: $white;
      background-color: $primary;
      margin-right: 1rem;
      padding: 5px 8px;
    }
  }
}

.dmp-2nd {
  margin-top: 6rem;
  box-sizing: border-box;
  border: solid 5px $primary;
  padding: 1rem;
  background: url("../images/bg_dmo_2nd.png") no-repeat center center;
  background-size: cover;
  text-align: center;
  @include media-md() {
    margin-top: 5rem;
    background: url("../images/bg_dmo_2nd_sp.png") no-repeat center center;
    background-size: cover;
    padding: 10rem .5rem .5rem .5rem;
  }
}